<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Buy {{product.name}} · {{config.external.patreon.creatorName}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://js.stripe.com/v3/"></script>

        <meta property="og:type" content="website">
        <meta property="og:url" content="{{requestUrl}}">
        <meta property="og:site_name" content="{{config.external.patreon.creatorName}}">
        <meta property="og:title" content="Buy {{product.name}}">
        <meta name="description" content="Get early access to {{product.name}} for a one-time purchase of {{formattedPrice}} or less and help support the developer, {{config.external.patreon.creatorName}}.">
        <meta name="og:description" content="Get early access to {{product.name}} for a one-time purchase of {{formattedPrice}} or less and help support the developer, {{config.external.patreon.creatorName}}.">
        <meta property="og:image" content="{{imageUrl}}">
    </head>

    <body>
        <article>
            <section class="product-card">
                <div class="product-info">
                    <img class="product-icon" src="{{product.imageUrl}}" alt="{{product.name}}" width="64" height="64" />
                    <div class="product-details">
                        <span class="product-title">{{product.name}}</span>
                        <span class="product-price">{{formattedPrice}}</span>
                    </div>
                </div>

                <div class="button-container">
                    <a class="link-button" role="button" id="checkout-button" href="javascript:void">Buy early access</a>
                </div>
            </section>
        </article>

        <script>
            let stripe = Stripe("{{config.external.stripe.publicKey}}");
            let checkoutButton = document.getElementById("checkout-button");

            checkoutButton.addEventListener("click", async () => {
                let resp = await fetch("/api/stripe/create_checkout_session", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        productId: {{product.id}},
                    }),
                });
                let session = await resp.json();

                let result = await stripe.redirectToCheckout({
                    sessionId: session.sessionId,
                });
                if (result.error) {
                    alert(`Error: ${result.error.message}`);
                }
            });
        </script>
    </body>
</html>
